{% extends "layout.html" %}
{% block content %}


<div id="Header"> 
  <h3>Plotguy's 15 Second Custom Gifs</h3>
</div>

<img width="100%" src='{{url_for("static", filename="axi_draw_image.jpg")}}' alt="">

<div id="dropin-container"></div>
  <button id="submit-button" type="button" class="btn btn-success">Pay $1.00</button>
  <script>
      var button = document.querySelector('#submit-button');

      braintree.dropin.create({
        authorization: 'sandbox_m2n9y59h_h35czfgn8w6bq2mc',
        container: '#dropin-container'
      }, function (createErr, instance) {
        button.addEventListener('click', function () {
          instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
            // Submit payload.nonce to your server
          });
        });
      });
  </script>

{% endblock %}